* {
    box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  background-color: #23252C;
  font-family: Inter, sans-serif;

}

.container {
  background-color: #1A1B21;
  min-height: 100vh;
  width: 300px;
  margin: 2em auto;
  color: #FFFFFF;
  text-align: center;
  border-radius: 10px;
  overflow: auto;


}


.position {
  color: #F3BF99;
  font-size: .8rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: .5rem;
}

.website { 
  color: #F5F5F5;
  font-size: .5rem;
  margin-top: 0;
  margin-bottom: 1.3em;
}

.personal-info > h1 {
  font-size: 1.5rem;
  margin-bottom: .1rem;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.ctn-buttons {
  display: flex;
  justify-content: center;
  gap: 1em;

}

.btn{
    font-weight: 500;
    font-family: inherit;
    font-size: .6rem;
    padding: .6em ;
    width: 80px;
    border-radius: 5px;
    border: none;
    text-decoration: none;

}

.email-btn {
  color: #1E1F26;
  background-color: white;

}

.email-btn:hover{
  background-color: #918E9B;
}

.linkedin-btn{
  background-color: #5093E2;
  color: #FFFFFF;

}
.linkedin-btn:hover{
  background-color: #89add7;
}
 
i {
  margin-right: .9em;
}

section > h2 {
  text-align: start;
  font-size: 1rem;
  margin-bottom: 0;
}

section > p {
  font-size: .7rem;
  text-align: start;
  margin-top: .5em;
  font-weight: 400;

}

section {
  padding: 0 2em;
  margin-bottom: 1.2em;
  margin-top: 1.7em;
}

footer {
  background-color: #161619;
  height: 60px;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;



}

footer > ul > li > a > i {
  color: #918E9B;
  font-size: 25px;
}

footer > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

